<br>
<h1>Public Wikis</h1>


    <% if current_user %>
    <%= link_to "Create", new_wiki_path %>
    <% end %>

<div class = "tall teal scrollable container">

<% @wikis.each do |wiki| %>

 <div class = 'row'>

  <div class="col-md-2 col-md-offset-3 no-overflow shift-down">
    <%= link_to wiki.title, wiki %>
  </div>

  <div class="col-md-2 no-overflow shift-down">
    <% if policy(wiki).edit? %>
    <%= link_to "Edit", edit_wiki_path(wiki) %>
    <% end %>
  </div>

  </div>

 <% end %>
</div>
