
<h1> New Wiki </h1>

<div class="row">
    <div class="col-md-4">
      <p> Guidelines for Wikis: </p>
      <ul>
        
        <li> Proofread! </li>
        <li> Don't be boring!</li>
      </ul>
    </div>
    <div class="col-md-8">
      <%= render partial: 'wikis/form' %>
    </div>
</div>
